android-project/app/build
android-project/app/.externalNativeBuild
android-project/.gradle
*.dat
SDL2-2.0.12/build
SDL2_mixer-2.0.4/build
SDL2-2.0.12/Makefile
SDL2-2.0.12/Makefile.rules
SDL2-2.0.12/config.log
SDL2-2.0.12/config.status
SDL2-2.0.12/libtool
SDL2-2.0.12/sdl2-config
SDL2-2.0.12/sdl2-config.cmake
SDL2-2.0.12/sdl2.pc
doc

